<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {{ css(ctx) }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
</head>
<body>

    <header>
        <h1>Dashboard</h1>
        {% block usermenu %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}
    
    {# load these elements first #}
    {{ js(ctx, 'lib/_ajax.js')}}
    {{ js(ctx) }}
</body>
</html>
