<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {# load all css elements here #}
    {{ css(ctx) }}
</head>
<body>
    <header>
        <h1>Dashboard</h1>
        {% block usermenu %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}
    
    {# load modules first #}
    {{ js(ctx, 'lib/require.js') }}
    {{ js(ctx, 'lib/ajax.js') }}
    {# load js elements #}
    {% block js %}
    {% endblock %}
</body>
</html>
