{# inherits from basic page #}
{% extends '_page.jinja2' %}

{% block title %}Dashboard Home{% endblock %}

{% block content %}
    <div class="accordion"></div>
    <div class="details"></div>
{% endblock %}

{% block js %}
    {# get js files from basic page before 'block js' #}
    {{ super() }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    {{ js(ctx, 'components/location/charts.js') }}
    {{ js(ctx, 'components/location/details.js') }}
    {{ js(ctx, 'components/location/list.js') }}
{% endblock %}
