{# inherits from basic page #}
{% extends '_page.jinja2' %}

{% block title %}Dashboard Home{% endblock %}

{% block usermenu %}
    <div class="usermenu">
        <span class="menu-icon"></span>
        <a class="logout-icon" href="{{ ctx.url('logout') }}"></a>
    </div>
{% endblock %}

{% block content %}
    {% include 'components/sidebar/sidebar.html' %}
    <div class="list"></div>
{% endblock %}

{% block js %}
    {{ super() }}
    {# google charts api #}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        require(['components/sidebar/sidebar', 'components/location/list']);
    </script>
{% endblock %}
