{# inherits from basic page #}
{% extends '_page.jinja2' %}

{% block title %}Dashboard Home{% endblock %}

{% block content %}
    <div class="accordion"></div>
    <div class="details"></div>
{% endblock %}

{% block js %}
    {{ super() }}
    {{ js(ctx, 'components/location/list.js') }}
{% endblock %}
