{# inherits from basic page #}
{% extends '_page.jinja2' %}

{% block title %}Dashboard Login{% endblock %}

{% block content %}
    <form action="/" method="post">
       <fieldset>
            <input type="text" name="username" placeholder="Username" autocomplete="off">
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <button type="submit">Login</button>
        </fieldset>
    </form>
{% endblock %}

{% block js %}
    {{ js(ctx, 'components/login/_login.js') }}
{% endblock %}
