@import "css/vars";

header {
    position: relative;
    background-color: $primary-color-dark;
    text-align: center;

    h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 1rem 0;
        color: $primary-color-text;
    }

    .usermenu {
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        padding-top: 18px;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 1.5rem;

        .menu-icon {
            float: left;
            width: 25px;
            height: 25px;
            background-color: $primary-color-text;
            -webkit-mask: url('/images/menu.svg') center center;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 35px;
        }

        .logout-icon {
            float: right;
            width: 25px;
            height: 25px;
            background-color: $primary-color-text;
            -webkit-mask-image: url('/images/logout.svg');
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 25px;
        }
    }
}

