@import "css/vars";

header {
    background-color: $primary-color-dark;
    text-align: center;

    h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 1rem 0;
        color: $primary-color-text;
    }

    .usermenu {
        position: absolute;
        top: 0;
        right: 0;

        .logout-icon {
            display: block;
            top: 22px;
            right: 20px;
            position: absolute;
            width: 25px;
            height: 25px;
            display: block;
            background-color: $primary-color-text;
            -webkit-mask-image: url('/images/logout.svg');
            mask-image: url('/images/logout.svg');
        }
    }

}

