@import 'css/vars';

.charts {
    display: block;
    margin: auto;
    padding: 15px;
    opacity: 1;

    .chart {
        box-sizing: border-box;
        position: relative;
        display: block;
        margin-bottom: 15px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        border: 1px solid $divider-color;

        @media #{$desktop}, #{$tablet-large} {
            margin: 5px;
            width: calc(33.33% - 10px);
            display: inline-block;
        }

        h3 {
            position: absolute;
            margin: auto;
            width: 100%;
            top: 0.5rem;
            text-transform: capitalize;
            z-index: 1;
        }

        figure {
            overflow: hidden;
            display: inline-block;
            margin: 0 auto;

            @media #{$phone} {
                width: 100%;
            }
        }
    }
}
