@import 'css/vars';

.details {
    display: block;
    margin: auto;
    padding: 15px;
    opacity: 1;

    figure {
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        border: 1px solid $accent-color;

        @media #{$desktop} {
            margin: 5px;
            width: calc(33.33% - 10px);
        }

        img {
            width: 20%;
            height: auto;
            color: $primary-text-color;
        }

        figcaption {
            padding-top: 5px;
            font: {
                size: 1.4rem;
                weight: 600;
            }
            color: $primary-text-color;
        }
    }
}
