@import 'css/vars';

.details {
    margin: auto;
    padding: 15px;
    overflow: hidden;
    opacity: 1;
    max-height: 500px;
    display: block;

    figure {
        box-sizing: border-box;
        margin:5px;
        width: calc(33.33% - 10px);
        display: inline-block;
        text-align: center;
        padding: 30px 0;
        border: 2px solid $accent-color-light;

        img {
            width: 30%;
            height: auto;
            color: $primary-text-color;
        }

        figcaption {
            padding-top: 5px;
            font: {
                size: 1.4rem;
                weight: 600;
            }
            color: $primary-text-color;
        }
    }
}
