@import 'css/vars';

.details {
    display: block;
    margin: auto;
    padding: 15px;
    opacity: 1;

    .sensorDetails {
        box-sizing: border-box;
        position: relative;
        display: block;
        margin-bottom: 15px;
        width: 100%;
        overflow: hidden;
        padding: 3rem 0;
        text-align: center;
        border: 1px solid $divider-color;

        @media #{$desktop}, #{$tablet-large} {
            margin: 5px;
            width: calc(33.33% - 10px);
            display: inline-block;
        }

        h3 {
            position: absolute;
            margin: auto;
            width: 100%;
            top: 0.5rem;
            text-transform: capitalize;
            z-index: 1;
        }

        .current, .lastAction {
            display: inline-block;
            width: 50%;
            margin: auto;
            height: 100%;

            .title {
                display: block;
                font-size: 1rem;
                text-align: center;
            }

            .value {
                display: block;
                font-size: 1.8rem;
                text-align: center;
                padding: 10px;
            }

        }

        .lastAction .value {
            font-size: 1.2rem;
        }

        .svgImageBorder {
            border: 2rem solid;
            border-radius: 12rem;
            width: 10rem;
            height: 10rem;
            position: absolute;
            right: 0;
            top: -4rem;
            padding: 2rem;
            right: -4.5rem;
            z-index: -1;
            opacity: 0.3;

            .svgImage {
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                -webkit-mask-position: 50% 50%;
                width: 10rem;
                height: 10rem;
            }

            &.humidity {
                border-color: $humidity;

                .svgImage {
                    -webkit-mask-image: url(/images/humidity.svg);
                    background-color: $humidity;
                }
            }

            &.temperature {
                border-color: $temperature;

                .svgImage {
                    -webkit-mask-image: url(/images/temperature.svg);
                    background-color: $temperature;
                    width: 8.5rem;
                    height: 8.5rem;
                    margin: 10px 0 0 30px;
                }
            }

            &.motion {
                border-color: $motion;

                .svgImage {
                    -webkit-mask-image: url(/images/motion.svg);
                    background-color: $motion;
                    width: 8rem;
                    height: 8rem;
                    margin: 20px 0 0 20px;
                }
            }
        }
    }
}
