@import "css/vars";

.list {

    li {

        &:hover .list-button {
            background: $primary-color-light;
        }

        &.active {

            .list-button {
                background: $primary-color-light;
                color: $primary-text-color;
                border: {
                    top: 1px solid $divider-color;
                    bottom: 1px solid $divider-color;
                    left: none;
                    right: none;
                }

                &:before {
                    content: '▼';
                    margin-right: 15px;
                    color: $accent-color;
                    top: 0;
                }
            }
        }
    }

    .list-button {
        padding: 15px;
        padding-left: 25px;
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
        background: $primary-color-text;
        color: $primary-text-color;
        outline: none;
        border: 1px dotted $divider-color;
        cursor: pointer;

        &:before {
            content: '▶';
            margin-right: 15px;
            color: $primary-color-dark;
            top: -2px;
            position: relative;
        }
    }
}
