@import "css/vars";

.list {
    transition: margin-left .5s;
    //padding: 20px;

    li {

        &:hover .list-button {
            background: $primary-color-light;
        }

        &.active {

            .list-button {
                background: $primary-color-light;
                color: $primary-text-color;
                border: {
                    top: 1px solid $divider-color;
                    bottom: 1px solid $divider-color;
                    left: none;
                    right: none;
                }

                &:before {
                    content: '▼';
                    margin-right: 15px;
                    color: $accent-color;
                    top: 0;
                }
            }

            .tabs {
                text-align: center;

                button {
                    display: inline-block;
                    margin: 15px 7px 0 7px;
                    padding: 10px 50px;
                    background: $primary-color-dark;
                    color: $primary-color-text;
                    font-size: 1rem;
                    font-weight: 900;
                    line-height: 1.1;
                    border: none;
                    cursor: pointer;
                    outline: 0;
                    outline-offset: 0;
                    transition: all 0.15s ease-in-out;
                }
            }
        }
    }

    .list-button {
        padding: 15px;
        padding-left: 25px;
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
        background: $primary-color-text;
        color: $primary-text-color;
        outline: none;
        border: 1px dotted $divider-color;
        cursor: pointer;

        &:before {
            content: '▶';
            margin-right: 15px;
            color: $primary-color-dark;
            top: -2px;
            position: relative;
        }
    }
}
