@import "css/vars";

.sidebar {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: $primary-text-color;
    z-index: 1;
    transition: width .5s;
    overflow-x: hidden;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 1.8;
        white-space: nowrap;

        a {
            &:hover {
                color: $accent-color;
            }
            display: block;
            padding: 8px 8px 8px 32px;
            color: $primary-color-text;
            text-decoration: none;
            transition: color 0.15s ease-in-out;

    /*        .closeButton {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }*/
        }
    }

}

    .openSide {
        width: 15rem;
        //transform: translate(0, -50%);
    }

    .openMenu {
        margin-left: 15rem;
    }
