@import "css/vars";

* {
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primary-text-color;
    overflow-x: hidden; // disable horizontal scroll
    padding-top: 60px;
    transition: transform 0.5s ease-in-out;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 1.8;
    }

    a {
        &:hover {
            color: $accent-color;
        }
        display: block;
        padding: 8px 8px 8px 32px;
        color: $primary-color-text;
        text-decoration: none;
        transition: color 0.15s ease-in-out;

        .closeButton {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
}

    .open {
        width: 100%;
        //transform: translate(0, -50%);
    }

    .close {
        width: 0;
    }
