@import "css/vars";

.menu {
    position: fixed;
    display: block;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: width .5s;
    overflow: hidden;

    .sidebar {
        position: relative;
        display: inline-block;
        width: 15%;
        height: 100%;
        background-color: $primary-text-color;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            white-space: nowrap;
            text-align: center;
            border: 1px dotted $divider-color;

            a {
                &:hover {
                    color: $accent-color;
                }
                font-size: 1.1rem;
                display: block;
                padding: 1.5rem 0;
                color: $primary-color-text;
                text-decoration: none;
                transition: color 0.15s ease-in-out;
            }
        }
    }

    .passwordForm {
        position: relative;
        display: inline-block;
        width: 70%;
        height: 100%;
    }
}

    .openSide {
        width: 100%;
}
