<div class="menu">
   <div class="sidebar">
        <ul>
            <li><a href="#">Change password</a></li>
        </ul>
   </div>
   <div class="passwordForm">
        <form action="/" method="post">
           <fieldset>
                <input type="password" name="oldPassword" placeholder="Old password" autocomplete="off" />
                <input type="password" name="newPassword" placeholder="New password" autocomplete="off" />
                <input type="password" name="newPasswordRepeat" placeholder="Type new password again" autocomplete="off" />
                <button type="submit">Okay</button>                <button type="reset">No, thanks</button>
            </fieldset>
        </form>
   </div>
</div>
