<form action="" method="post">
   <fieldset>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Okay</button>
    </fieldset>
</form>